@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* Navigation Bar  */
header {
  background-color: white;
  position: relative;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 80px;
}

nav ul li a:hover { 
  background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  background-size: 3px 2px;
  background-position: bottom;
  background-repeat: repeat-x;
}
ul {
  list-style: none;
  margin: auto 0;
}

ul li {
  display: inline;
  margin: 15px;
  font-size: 15px;
  font-weight: 400;
}
ul li a {
  color: hsl(233, 8%, 62%);
}

nav ul li a:hover{
  color: hsl(233, 26%, 24%);
}

.btn-request {
  padding: 8px 25px;
  font-weight: 400;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: white;
  border-radius: 50px;
  margin: auto 0;
}
.collapse-img{
  display: none;
}
.close{
  display: none;
}

.btn-request:hover {
  color: white;
  background: linear-gradient(to right,hsla(136, 65%, 51%, 0.600), hsla(192, 70%, 51%, 0.600));
}

/* Title page  */
.home-section {
  background-color: #fafafa;
  padding: 10% 8%;
  position: relative;
  width: 100vw;
}

.home-section h1 {
  font-size: 3.5rem;
  width: 70%;
  color: hsl(233, 26%, 24%);
  text-align: left;
}

.home-section p {
  color: hsl(233, 8%, 62%);
  width: 65%;
  margin: 20px 0;
}

.btn-request-home {
  margin: 15px 0;
}

.bg-intro {
  position: absolute;
  top: -300px;
  transform: translateX(-5%);
  max-width: 80%;
}
.mockups {
  position: absolute;
  top: -100px;
  right: -100px;
  max-width: 45%;
}
@media only screen and (max-width: 900px) {
  .bg-intro {
    position: relative;
  }
  .home-section {
    padding: 80% 8% 85%;
    position: relative;
    background-image: url("images/bg-intro-mobile.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -100px;
  }
  .home-section .row {
    position: relative;
  }
  .home-section .content {
    position: absolute;
    top: 0;
  }
  .home-section .content-img {
    position: absolute;
    bottom: 0;
  }
  .home-section h1 {
    font-size: 2rem;
    width: 100%;
    color: hsl(233, 26%, 24%);
    text-align: center;
  }

  .home-section .content p {
    color: hsl(233, 8%, 62%);
    width: 100%;
    margin: 20px 0;
    text-align: justify;
    text-align: center;
  }
  .home-section .content-img img {
    position: relative;
    transform: translateX(0%);
    top: 0;
  }
  .home-section .content-img :nth-child(1) {
    position: absolute;
    max-width: 100vw;
    left: -50px;
    top: -150px;
    transform: scale(2);
    display: none;
  }
  .home-section .content-img :nth-child(2) {
    max-width: 100%;
    right: 0;
    top: -30px;
  }
  .home-section .content {
    text-align: center;
  }
  .home-section .content p {
    font-size: 1rem;
  }
  header .btn-request {
    display: none;
  }
}
@media only screen and (max-width: 700px){
  nav {
    padding: 0 5%;
    justify-content: space-between;
    position: relative;
  }
  nav ul{
    display: none;
  }
  
  nav .responsive {
    background-color: white;
    border-radius: 5px;
    padding: 5%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 5%;
    width: 90%;
    text-align: center;
    box-shadow: 100px 100px 300px rgba(1,1,1);
  }
  nav ul li{
    margin: 5px 0;
  }
  #check{
    display: none;
  }
  .responsive + .close{
    display: block;
    cursor: pointer;
  }
  .collapse-img{
    display: block;
    cursor: pointer;
  }
  .close{
    display: none;
  }
  .close.active{
    display: block;
    cursor: pointer;

  }

  .responsive + .collapse-img{
    cursor: pointer;
    display: none;
  }


  nav ul li a{
    color: hsl(233, 26%, 24%); 
    font-size: 1rem;
  }
}

/* Easy Bank Info Section  */

.info {
  background-color: #f4f5f7;
  padding: 5% 8%;
}

.info h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: hsl(233, 26%, 24%);
}
.info-heading p {
  color: hsl(233, 8%, 62%);
  max-width: 50%;
  margin-bottom: 50px;
}
.info-img h4 {
  color: hsl(233, 26%, 24%);
  font-weight: 300;
}
.info-img p {
  color: hsl(233, 8%, 62%);
  margin-top: 20px;
  max-width: 90%;
}

.info-img img {
  margin-bottom: 30px;
}

@media only screen and (max-width: 900px) {
  .info {
    text-align: center;
    padding: 10% 5% 15%;
  }
  .info .info-heading p {
    max-width: 100%;
    margin: auto;
  }
  .info .row {
    gap: 30px;
  }
  .info .info-img p {
    max-width: 100%;
    margin: auto;
  }
}

/* Easy Bank Articles  */
.articles {
  background-color: #fafafa;
  padding: 5% 8%;
}
.articles h1 {
  color: hsl(233, 26%, 24%);
  margin-bottom: 50px;
}

.article-grid {
  display: flex;
  gap: 30px;
}
.article {
  background-color: #ffff;
  border-radius: 10px;
  overflow: hidden;
}
.article img {
  max-width: 100%;
  margin-bottom: 10px;
  border-radius: 10px 10px 0 0;
}
.article .currency{
  max-width: 100%;
  transform: translateY(-11%);
}
.article .confetti{
  transform: translateY(-1%);
}

.article-content {
  padding: 5% 8% 0;
}
.article-content h5 {
  max-width: 100%;
}
.article-content p {
  max-width: 100%;
  color: hsl(233, 8%, 62%);
}
.article-content h5 {
  margin-top: 20px;
}

.article a {
  color: hsl(233, 26%, 24%);
}
.article a:hover {
  color: #8ed5bd;
}

@media only screen and (max-width: 900px) {
  .articles {
    text-align: center;
    padding: 15% 9%;
  }
  .article-grid {
    flex-wrap: wrap;
  }
  .articles .article-content {
    text-align: left;
  }
  .article .currency{
    transform: translateY(0%);
  }
  .article .confetti{
    transform: translateY(0%);
  }
}

/* Footer  */
footer {
  background-color: hsl(233, 26%, 24%);
  display: flex;
  justify-content: space-around;
  padding: 3% 0 2%;
  color: white;
}
.socials ul {
  padding: 0;
  margin: 40px 0 0;
}

.socials ul li {
  list-style: none;
  margin: 5px;
}

.footer-btn p {
  margin-top: 30px;
  margin-left: -50px;
  color: hsl(233, 8%, 62%);
}

.links {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0 100px;
}
.links {
  font-size: 0.9rem;
}

.links a {
  color: #ffff;
}

.links a:hover {
  color: #8ed5bd;
}
.socials svg path:hover {
  fill: #8ed5bd;
  cursor: pointer;
}
.footer-btn .btn-request:hover{
  opacity: 0.8;
}


@media only screen and (max-width: 900px) {
  footer {
    flex-direction: column;
    text-align: center;
    padding: 5%;
  }

  .socials ul {
    padding: 0;
    margin: 20px 0 0;
  }

  footer .links {
    margin-top: 20px;
    grid-template-columns: auto;
    grid-gap: 10px;
  }

  .footer-btn p {
    margin-top: 30px;
    margin-left: 0;
    color: hsl(233, 8%, 62%);
  }

  .footer-btn .btn-request {
    margin-top: 20px;
  }
}
